.transaction-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .transaction-success {
    color: #28a745;
    font-size: 24px;
  }
  
  .transaction-failed {
    color: #dc3545;
    font-size: 24px;
  }
  